$bg-color-1: #f7fbfc;
$bg-color-2: #d6e6f2;
$bg-color-3: #b9d7ea;
$accent-color: #769fcd;

$light-bg: #f0f5f9;
$border-color: #c9d6df;
$text-secondary: #52616b;
$text-primary: #1e2022;

$success: #67c23a;
$warning: #e6a23c;
$error: #f56c6c;
$info: #909399;

$transition-duration: 0.3s;
